/**
 * @name RemoveUnnecessaryButtons
 * @author Blagai
 * @description Removes all buttons I deem unnecessary from Discord.
 * @source https://github.com/Blagai/RemoveUnneccesaryButtons
 * @version 1.0
 */

/* Context menu buttons */
#user-context-invite-to-server {
	display: none;
}
#user-context-ignore {
  display: none;
}
#user-context-apps {
  display: none;
}

#message-mark-unread {
  display: none;
}

#message-tts {
  display: none;
}

#message-apps {
  display: none;
}


/* Text input buttons */
button[aria-label="Send a gift"] {
  display: none;
}
button[aria-label="Apps"] {
  display: none;
}
button[aria-label="Open sticker picker"] {
  display: none;
}
#channel-attach-SLASH_COMMAND {
  display: none;
}

/* Nitro, Shop, Library, and Quests */
li.channel__972a0[aria-posinset="2"] { /* Library */
  display: none;
}
li.channel__972a0:has(a[href="/shop"]) { /* Shop */
  display: none;
}
div [aria-posinset="3"]:has(li.channel__972a0) { /* Nitro */
  display: none;
}
div [class="wrapper__553bf"] { /* Quests */
  display: none;
}

/* Top bar buttons */
.recentsIcon_c99c29 {
  display: none !important;
}

a.anchor_edefb8[href*="support.discord.com"] > .button__85643[aria-label="Help"] {
  display: none !important;
}

.iconWrapper__9293f[aria-label="Start Video Call"] {
  display: none !important;
}

/* Top right buttons */
div[class="trailing_c38106"] {
  display: none !important;
}

/* Snap searchbar to right */
  .toolbar__9293f.toolbar__9293f {
    margin-right: 0px !important;
  }

/* Remove the "Turn On Camera" button */
.attachedCaretButtonContainer_f1ceac:has(button[aria-label="Turn On Camera"]) 
{
  div[aria-label="More Options"] {
    display: none !important;
  }
}

button[aria-label="Turn On Camera"] {
  display: none !important;
}